# Holt-Winters Method

- EWMA fails to account for factors like trend or seasonality
- For now we're just fitting - we will forecast in the next section

### Addative vs Multiplicative
- The addative method is preferred when the seasonal variations are roughly constant through the series
- The multiplicative method is preferred when the seasonal variations are changing proportional to the level of the series

Hots method = level + trend

Triple Exponential Smoothing (Holt-Winters Method) = level + trend + seasonality

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv(r'./airline_passengers.csv', index_col='Month', parse_dates=True)
df = df.dropna()

In [4]:
df.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [5]:
df.index.freq = 'MS'

In [6]:
df.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq='MS')

In [7]:
df.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121

In [8]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

In [9]:
span = 12
alpha = 2/(span+1)

In [10]:
df['EWMA12'] = df['Thousands of Passengers'].ewm(alpha=alpha, adjust=False).mean()

In [11]:
df.head()

            Thousands of Passengers      EWMA12
Month
1949-01-01                      112  112.000000
1949-02-01                      118  112.923077
1949-03-01                      132  115.857988
1949-04-01                      129  117.879836
1949-05-01                      121  118.359861

In [17]:
model = SimpleExpSmoothing(df['Thousands of Passengers'])
fitted_model = model.fit(smoothing_level=alpha, optimized=False)
df['SES12'] = fitted_model.fittedvalues.shift(-1)

In [18]:
df.head()

            Thousands of Passengers      EWMA12       SES12
Month
1949-01-01                      112  112.000000  112.000000
1949-02-01                      118  112.923077  112.923077
1949-03-01                      132  115.857988  115.857988
1949-04-01                      129  117.879836  117.879836
1949-05-01                      121  118.359861  118.359861